// Fonts
$systemFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Font sizes
$baseFontSize: 16px;

// Responsive Break points. Using mobile first apporach
$sm: 767px;
$md: 768px;
$lg: 1600px;


// Font Weight;
$regular: 300;
$bold: 700;

